// Accommodations block
.accommodation-block {
    padding-top: 40px;
    padding-bottom: 40px;

    @media(min-width: 1024px) {
        padding-top: 80px;
        padding-bottom: 80px;        
    }

    h2 {
        @include heading-3();
    }

    > p {
        @include heading-5();
    }    

    .accommodations-listing {
        max-width: 1024px;
        margin: 25px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .accommodation-item {
            width: 100%;
            margin-bottom: 20px;
            flex-grow: 1;
            display: flex;

            @media(min-width: 481px) {
                width: 50%;
            }

            @media(min-width: 1024px) {
                width: 33%;
            }
        }           
        // Card component styling under components/_card.scss      
    }
}