// Card Component - Used on Accommodations Landing and Accommodation Blocks

.card {
    background-color: #EDEDED;
    border-radius: 20px;
    margin: 0 10px;
    display: block;
    position: relative;
    padding: 0;
    width: 100%;

    a {
        color: $purple;
    }     
    
    .thumbnail {

        img {
            max-width: 100% !important;
            display: block;
            height: 100% !important;
            width: 100%;
            border-radius: 12px 12px 0 0;
            object-fit: cover;
            max-height: 250px;
        }
    }

    .card-content {
        padding: 15px 20px;
        width: 100%;
        z-index: 1;
        background-color: #EDEDED;
        border-radius: 0 0 12px 12px;
        transition: height 3s linear;
        text-align: left;

        &__name {
            @include heading-5();
            margin-bottom: 15px;
            font-weight: 700 !important;
            @media(min-width: 768px) {
                font-size: 30px !important;
            }   
            a {
                text-decoration: none;
                color: $purple;
                font-weight: 700;
            }            
        }

        .categories {
            font-size: 18px;
            line-height: 1;
            color: #92959A;
            margin-bottom: 8px;
        }
        
        p {
            font-size: 16px;
            line-height: 1;
            padding-bottom: 8px;

            &.address,
            &.phone,
            &.website {
                //padding-left: 25px;
                position: relative;
                margin-bottom: 4px;

                &:before {
                    // content: '\f3c5';
                    // font-family: $fa;
                    // display: block;
                    // margin-right: 10px;
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                }                
            }
            &.phone {
                &:before {
                    //content: '\f879';
                }
                a {
                    text-decoration: none;
                }
            }
            &.website {
                margin-bottom: 15px;

                &:before {
                    //content: '\f0ac';
                }
            } 
            
            &.additional-info {

                span + span {
                    margin-left: 20px;
                }

                .pets,
                .accessible {
                    position: relative;
                    padding-left: 24px;
                    
                    &:before {
                        // content: '\f1b0';
                        // font-family: $fa;
                        // display: block;
                        // margin-right: 5px;
                        // position: absolute;
                        // top: 3px;
                        // left: 0;
                    }                 
                }

                .accessible {
                    
                    &:before {
                        //content: '\f193';
                    }                 
                }   
                
                @media(max-width:880px) {
                    margin-top: -7px;

                    span {
                        display: block;
                        margin-bottom: 15px;
                    }

                    span + span {
                        margin-left: 0;
                    }

                    .pets,
                    .accessible {
                        
                        &:before {
                            top: 0;
                        }                 
                    }                    
                }                
            }            
        }
    }

    &-alt {
        background-color: $white;
        border-radius: 12px;

        .thumbnail {
            background-color: transparent;
            min-height: 200px;
            
            img {
                max-width: auto !important;
                height: auto !important;
                width: auto;
                border-radius: 0;
                object-fit: initial;
                margin: 0 auto;
                padding: 20px 0;
                max-height: 250px;
            }

            @media(max-width:479px) {
                min-height: auto !important;
                img {
                    max-width: 300px !important;
                }    
            }            
        }   

        .card-content {            
            padding: 25px 20px;

            .title {
                @include heading-5();
                color: $gold !important;
                font-weight: 400 !important;
                margin-bottom: 5px;
            }

            .subtitle {
                @include heading-4();
                text-transform: none !important;
                margin-bottom: 0;                
            }

            .details {
                color: $purple;
            } 
        } 
        
        @media(min-width: 768px) {
            display: flex;
            flex-direction: row; 
            .thumbnail,
            .card-content {
                width: 50%;
            }           
        }
    }
}