// Things To Do carousel slider (see Home page)
.things-to-do {
    margin-top: 0 !important;
    max-width: 100% !important;
    overflow: hidden;
    padding: 40px 0 !important;
    
    @media(min-width:1024px) {
        padding: 80px 0 !important;
    }

    h2 {
        @include heading-2();
        text-align: center;
    }

    p {
        @include heading-5();

        @media(min-width: 1024px) {
            padding: 0 12% 25px;
        }
        @media(min-width: 1300px) {
            padding: 0 20% 25px;
        }            
    }  

    .things-to-do-carousel {
        margin-bottom: 50px;

        .item div {
            position: relative;
            margin: 5px;

            img {
                border-radius: 12px;                
            }

            h3 {
                position: absolute;
                top: 40%;
                left: 0;
                font-size: 24px;
                text-align: center;
                width: 100%;
                text-transform: uppercase;
                color: $white;   
                padding: 0 25px; 

                @media(min-width: 480px) {
                    top: 36%;
                    font-size: 20px;
                }

                @media(min-width: 1025px) {
                    top: 45%;
                    font-size: 30px;
                }
            }
        }       
    }

    // Slick enhancements
    .slick-prev,
    .slick-next {
        z-index: 2;

        &:before {
            color: $gold;
            font-size: 48px;
        }
    }

    .slick-prev {
        left: 5px;
    }

    .slick-next {
        right: 25px;
    }
}