
// Home page styles
.home {

    #masthead {
        background-color: transparent;
    }    
    .site-main {
        padding-top: 0 !important;
    }
    .site-content {
        margin-top: 0;
    }  
    
    // Home Hero
    h1 {
        font-family: $brandon;
        font-weight: 900;
        text-transform: uppercase; 
        text-align: center;
        @include heading-1();
        @include text-shadow(); 
        color: $white !important;

        span {
            @include outline(); 
            text-shadow: initial;            
        }      
    }  

    .wp-block-cover {
        min-height: 80vh !important;

        @media(min-width:482) and(max-width: 768px) {
            min-height: 70vh !important;
        }        
        @media(min-width:769px) and (max-width: 1024px) {
            min-height: 85vh !important;
        }
        @media(min-width:1025px) and (max-width: 1400px) {
            min-height: 90vh !important;
        }  
        @media(min-width: 1401px) {
            min-height: 100vh !important;
        }      
    }

    .wp-block-cover__inner-container p {
        @include heading-3();
        text-transform: initial !important;
        color: $white !important;
        font-weight: 700 !important;
    }

    .things-to-do {
        max-width: 100% !important;        
        margin-bottom: 0;      
    }


    .getting-here {
        margin-top: 0 !important;
        margin-bottom: 0; 
        max-width: 100% !important;
        overflow: hidden;
        padding: 40px 0 !important;
        
        @media(min-width:768px) {
            padding: 80px 0 !important;
        }          

        h2 {
            @include heading-2();
        }

        p {
            @include heading-5();

            @media(min-width: 1024px) {
                padding: 0 12%;
            }
            @media(min-width: 1300px) {
                padding: 0 20%;
            }            
        }   
        
        .wp-block-image.alignfull {
            margin-top: 0;
        }     
    }

    .featured-stories {
        max-width: 100% !important;        
        margin-bottom: 0;  
        background-color: $lightgrey;

        .featured-stories-carousel .story-item .article-content {
            background-color: $white;
        }     
    }   

}